@model Curso.Models.Tb_UsuariosCurso

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tb_UsuariosCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Txt_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Txt_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Txt_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Txt_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdGerente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdGerente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Txt_Gerente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Txt_Gerente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Txt_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Txt_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdPlaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdPlaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int_IdNivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Int_IdNivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fec_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fec_Fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bol_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bol_Activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
